 body {
   font-family: courier;
  background: #0a0700; 
  } 

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffefcc;
}

::-webkit-scrollbar-thumb {
  background: #ffd473;
}

::-webkit-scrollbar-thumb:hover {
  background: #ebc86a;
}     
      
.container{
  width: 1100px;
  background-color:white;
  margin-left: auto;
  margin-right:auto;
  margin-top:25px;
  margin-bottom:35px;
  border: 1px solid #fcba03;
  height: 700px;
  overflow: auto;
  }


.tab {
    list-style-type: none;
    width:100px;a
    margin: 2px;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #0a0700;  
    float: left;
    height: 100%;
}


.tab p a {
    display: block;
    color: #ffc654;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    font-variant:small-caps;

}


.tab p a:hover {
    background-color: #ffd47d;
}

.tab p a:focus, .active {
    background-color: #bd8500;
}


.tabcontent {
    display: none;
    padding: 12px 12px;
    margin-left: 2px;
    border-top: none;
    text-align:center;
}

#credits {
 list-style: none;
}

.button {
  background-color: #f0af22;
  border: none;
  color: white;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

/* GALLERIES */

div.gallery {
  margin: 2.5px;
  border: 1px solid #ccc;
  float: none;
  width: 175px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 8px;
  text-align: center;
  font-size: 80%;
}

.audio {
  width: 300px;
  height: 150px;
  padding: 5px;
  margin: 4px;
  overflow: auto;
  border-style: solid;
  border-width: 3px;
  border-color: #f7ba20;
}
